<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Review
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-spinner *ngIf="!ad && !notFound"></ion-spinner>
  <ng-container *ngIf="ad && !notFound">
   <app-label-card (getNextAd)="getNextAd()" [ad]="ad" [adAnalyzed]="adAnalyzed" [isToReview]="true"></app-label-card>
  </ng-container>
  <p *ngIf="notFound">Keine Anzeige zur Review</p>
</ion-content>
